@model MVCDemo.SuperHero

@{
    ViewData["Title"] = "Details";
}
    @*@{List<int> ints = (List<int>)ViewData["numbers"];}*@

<h1>Details</h1>
<script>
    @*@for (int i = 0; i < ints.Count; i++) {

    }*@
    var nums = [
    @foreach (int integerNumebrThingy in ViewBag.numbers) {
        @(integerNumebrThingy + ",")
            }
    ];
    alert("magic goes here: " + nums );
</script>
<div>
    <h4>SuperHero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoeSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoeSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EyeColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EyeColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
