@model IEnumerable<MVCDemo.SuperHero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="filters">
    <input id="txtSearch" />
    <button id="btnSearch">Find by Color</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoeSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EyeColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     <partial name="Parts/_List" model="Model" />
    </tbody>
</table> 
